@import './variables';
@import './mixins';

.text-lg {
  font-size: 24px;
}
.text-md {
  font-size: 18px;
}
.text-normal {
  font-size: 1rem;
}
.text-sm {
  font-size: 12px;
}

.text-bold {
  font-weight: bold;
}
.text-italic {
  font-style: italic;
}
.uppercase {
  text-transform: uppercase;
}

.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}

.text-nowrap {
  white-space: nowrap !important;
}
.break-all {
  word-break: break-all !important;
}

.color-brand,
.color-primary    { @include theme-color(primary); }
.color-secondary  { @include theme-color(secondary); }
.color-success    { @include theme-color(success); }
.color-info       { @include theme-color(info); }
.color-white      { @include theme-color(white); }
.color-light      { @include theme-color(light); }
.color-danger     { @include theme-color(danger); }
.color-price      { @include theme-color(price); }

%border {
  border: 1px solid;
}

.border-brand,
.border-primary {
  @extend %border;
  @include theme-border-color(primary);
}
.border-white {
  @extend %border;
  @include theme-border-color(white);
}

.border-dark {
  @extend %border;
  @include theme-border-color(dark);
}

.border-light {
  @extend %border;
  @include theme-border-color(light);
}


.bg-brand,
.bg-primary { @include theme-bg(primary); }
.bg-white   { @include theme-bg(white); }
.bg-dark    { @include theme-bg(dark); }
.bg-light   { @include theme-bg(light); }

.opacity-2 { opacity: 0.2 }
.opacity-4 { opacity: 0.4 }
.opacity-6 { opacity: 0.6 }
.opacity-8 { opacity: 0.8 }
