// Colors
$color-primary: #007aff !default;
$color-secondary: #6c757d !default;
$color-success: #19be6b !default;
$color-info: #2db7f5 !default;
$color-warning: #ffc107 !default;
$color-danger: #dd524d !default;
$color-light: #666 !default;
$color-dark: #000 !default;
$color-white: #fff !default;
$color-price: #b4282d !default;

$colors: (
  primary:    $color-primary,
  secondary:  $color-secondary,
  success:    $color-success,
  info:       $color-info,
  warning:    $color-warning,
  danger:     $color-danger,
  light:      $color-light,
  dark:       $color-dark,
  white:      $color-white,  
  price:      $color-price
) !default;

$bg-colors: (
  white: $color-white,
  dark: $color-dark,
  light: $color-light,
  primary: $color-primary
) !default;

$border-colors: (
  white: $color-white,
  dark: $color-dark,
  light: $color-light,
  primary: $color-primary
) !default;

// Spacer
$spacers: (
  0: 0,
  1: 8px,
  2: 16px,
  3: 24px,
  a: auto
) !default;

// Breakpoints
$grid-breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;

// Display values
$displays: none, inline, inline-block, block, flex !default;

// Position values
$positions: static, relative, absolute, fixed, sticky !default;