/* Custom Flexbox Helper Classes */
.flex { display: flex; }
.flex.center-all { flex-direction: column; justify-content: center; align-items: center; }
.flex.items-start { align-items: flex-start; }
.flex.items-center { align-items: center; }
.flex.items-end { align-items: flex-end; }
.flex.cell { flex: 1; }
.flex.flex-column { flex-direction: column; }
.flex.flex-column.top { align-content: flex-start; }
.flex.flex-column.bottom { align-content: flex-end; }
.flex.flex-column.vertical-center { align-content: center; }
.flex.flex-column.space-between { align-content: space-between; }
.flex.flex-column.space-around { align-content: space-around; }
.flex.flex-row { flex-direction: row; }
.flex.flex-row.wrap { flex-flow: row wrap; }
.flex.flex-row.top { align-items: flex-start; }
.flex.flex-row.bottom { align-items: flex-end; }
.flex.flex-row.vertical-center { align-items: center; }
.flex.flex-row.baseline { align-items: baseline; }
.flex.flex-row.stretch { align-items: stretch; }
.flex.start { justify-content: flex-start; }
.flex.end { justify-content: flex-end; }
.flex.center { justify-content: center; }
.flex.space-between { justify-content: space-between; }
.flex.space-around { justify-content: space-around; }

.flex-1 { flex: 1; }

.flex-2 { flex: 2; }

.flex-3 { flex: 3; }

.relative { position: relative; }

.absolute { position: absolute; }

.fixed { position: fixed; }
.fixed.bottom { bottom: 0; }
.fixed.top { top: 0; }

.overlay { position: absolute; left: 0; right: 0; top: 0; bottom: 0; }

.full { height: 100vh !important; }

.block { width: 100vw !important; }

.height-100 { height: 100% !important; }

.width-100 { width: 100% !important; }

.zindex-1 { z-index: 1 !important; }

.zindex-2 { z-index: 2 !important; }

.m0 { margin: 0 !important; }

.mt0 { margin-top: 0 !important; }

.mb0 { margin-bottom: 0 !important; }

.ml0 { margin-left: 0 !important; }

.mr0 { margin-right: 0 !important; }

.mx0 { margin-left: 0 !important; margin-right: 0 !important; }

.my0 { margin-top: 0 !important; margin-bottom: 0 !important; }

.m1 { margin: 8px !important; }

.mt1 { margin-top: 8px !important; }

.mb1 { margin-bottom: 8px !important; }

.ml1 { margin-left: 8px !important; }

.mr1 { margin-right: 8px !important; }

.mx1 { margin-left: 8px !important; margin-right: 8px !important; }

.my1 { margin-top: 8px !important; margin-bottom: 8px !important; }

.m2 { margin: 16px !important; }

.mt2 { margin-top: 16px !important; }

.mb2 { margin-bottom: 16px !important; }

.ml2 { margin-left: 16px !important; }

.mr2 { margin-right: 16px !important; }

.mx2 { margin-left: 16px !important; margin-right: 16px !important; }

.my2 { margin-top: 16px !important; margin-bottom: 16px !important; }

.m3 { margin: 24px !important; }

.mt3 { margin-top: 24px !important; }

.mb3 { margin-bottom: 24px !important; }

.ml3 { margin-left: 24px !important; }

.mr3 { margin-right: 24px !important; }

.mx3 { margin-left: 24px !important; margin-right: 24px !important; }

.my3 { margin-top: 24px !important; margin-bottom: 24px !important; }

.ma { margin: auto !important; }

.mta { margin-top: auto !important; }

.mba { margin-bottom: auto !important; }

.mla { margin-left: auto !important; }

.mra { margin-right: auto !important; }

.mxa { margin-left: auto !important; margin-right: auto !important; }

.mya { margin-top: auto !important; margin-bottom: auto !important; }

.p0 { padding: 0 !important; }

.pt0 { padding-top: 0 !important; }

.pb0 { padding-bottom: 0 !important; }

.pl0 { padding-left: 0 !important; }

.pr0 { padding-right: 0 !important; }

.px0 { padding-left: 0 !important; padding-right: 0 !important; }

.py0 { padding-top: 0 !important; padding-bottom: 0 !important; }

.p1 { padding: 8px !important; }

.pt1 { padding-top: 8px !important; }

.pb1 { padding-bottom: 8px !important; }

.pl1 { padding-left: 8px !important; }

.pr1 { padding-right: 8px !important; }

.px1 { padding-left: 8px !important; padding-right: 8px !important; }

.py1 { padding-top: 8px !important; padding-bottom: 8px !important; }

.p2 { padding: 16px !important; }

.pt2 { padding-top: 16px !important; }

.pb2 { padding-bottom: 16px !important; }

.pl2 { padding-left: 16px !important; }

.pr2 { padding-right: 16px !important; }

.px2 { padding-left: 16px !important; padding-right: 16px !important; }

.py2 { padding-top: 16px !important; padding-bottom: 16px !important; }

.p3 { padding: 24px !important; }

.pt3 { padding-top: 24px !important; }

.pb3 { padding-bottom: 24px !important; }

.pl3 { padding-left: 24px !important; }

.pr3 { padding-right: 24px !important; }

.px3 { padding-left: 24px !important; padding-right: 24px !important; }

.py3 { padding-top: 24px !important; padding-bottom: 24px !important; }

.pa { padding: auto !important; }

.pta { padding-top: auto !important; }

.pba { padding-bottom: auto !important; }

.pla { padding-left: auto !important; }

.pra { padding-right: auto !important; }

.pxa { padding-left: auto !important; padding-right: auto !important; }

.pya { padding-top: auto !important; padding-bottom: auto !important; }

.text-lg { font-size: 24px; }

.text-md { font-size: 18px; }

.text-normal { font-size: 1rem; }

.text-sm { font-size: 12px; }

.text-bold { font-weight: bold; }

.text-italic { font-style: italic; }

.text-left { text-align: left !important; }

.text-center { text-align: center !important; }

.text-right { text-align: right !important; }

.color-white { color: white !important; }

.color-price { color: #b4282d !important; }

.color-brand { color: #0d419d !important; }

.color-light { color: #666 !important; }

.color-danger { color: #ed3f14 !important; }

.border-white, .border-black, .border-light, .border-brand { display: inline-block; border: 1px solid #333; padding: 2px 8px; border-radius: 4px; }

.border-white { border-color: white; }

.border-black { border-color: #333; }

.border-light { border-color: #ccc; }

.border-brand { border-color: #0d419d; }

.uppercase { text-transform: uppercase; }

.bg-white { background-color: white !important; }

.bg-brand { background-color: #0d419d !important; }

.iconmate { cursor: pointer; width: 1em; height: 1em; vertical-align: text-bottom; }
.iconmate > svg { width: 1em; height: 1em; }
